body { 
  font-family: 'Arial', sans-serif;
  background-color: #6b838a;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
}

h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
  color: #333;
}
